@mixin flex_display ($direction , $space){
    display: flex;
    flex-direction: $direction;
    align-items: $space;
  
  }
 
.card {
    @include flex_display(row,none );
    margin: 1.2rem;
    padding: 1.5rem;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    & .card_im{  
        padding: 1.5rem;
     & .card_img{
          height: 40vh;
          width: 20vw;
          border-radius: 10px;
          box-shadow: 0px -10px 30px #ccc;
          margin: 1.5rem;
      }
    }
    & .recipe_discription{
        background-color: white;
        max-width: 60vmax;
        
        margin: 20px 0 0 30px;
        padding: .5rem;
        box-shadow: 0px -10px 30px #ccc;
        border-radius: 10px;
        & p{
            font-size: small;
            opacity: .7;
            padding: 0 1.5rem .5rem 1.5rem;
            font-weight: 500;
            color: rgb(191, 93, 18);
        }
        & h3{
            color: rgb(85, 58, 8);
            font-family: 'Lobster', cursive;
            padding: 0px 30px 0 15px;
        }
        
       
    }
} 