@mixin flex_display ($direction : row , $space :center){
    display: flex;
    flex-direction: $direction;
    align-items: $space;
    
  
  }/* 
.footer_section{
    width: 100%;
    & footer{
        @include flex_display(column,center );
        & .copyright{
            width: 100%;
            @include flex_display(row,center );
            justify-content: space-between;
           & h3{
               margin:10px;
           }
           font-size: medium;
           font-weight: 500;
           & .media{
            @include flex_display(row,center );
           
            & .socialMedia_handle{
                padding: 1.5rem;
                @include flex_display(row, none )
            }
        }
        }
        & .contact_info{
            background-color: white;
            @include flex_display(column,none );
            width:100vw;
            & h3{
                margin: 10px;
            }
           

        }
    }

} */
.footer_section{
    & .copyright{
        font-size: .8rem;
        justify-content: space-evenly;
        flex-wrap: wrap;
        @include flex_display();
         & span{
             font-size: .7rem;
             font-weight: 300;
         }
         & .media{
             @include flex_display( );
             & .socialMedia_handle{
                 margin: 1rem;
             }
         }
    }

}