@mixin display_flex(  $direction :row ,$justify:center, $align:center) {
    display:flex;
    flex-direction : $direction;
    justify-content: $justify;
    align-items: $align;
}

._form{
   width: 100%;
   @include display_flex(column);
   & .chef{
       margin-bottom: -2rem;
   }
    & form{
        background-color: white;
        @include display_flex(column);
        padding: 1.5rem;
        width: 16rem;
        height: max-content;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: .3rem;
        & .form_header{
            @include display_flex();
            padding: .5rem;
    
        }
        & h4{
            margin:0;
        }
        & input{
            
            border: none;
            border: .1rem solid orange;
            padding: .5rem;
            margin: .5rem;
            border-radius: .3rem;
          
        }
        & input:focus {
            outline:none;
            border: 0.1rem solid rgb(177, 116, 2);
          }
        & .signup_link{
            font-weight: bolder;
            font-style: italic;
            padding:.5rem;
            font-family: 'Nunito', sans-serif;
            font-size: small;
            font-weight: bold;
            color:rgb(194, 128, 4);
        


        }
        & .remember{
            font-size: small;
            font-weight: bold ;
            width: 100%;
            & span{
               
            }
        }
        & button{
            padding: 0.6rem;
            width: 5rem;
            border: none;
            border-radius: 1rem;
            border:1px solid  rgb(247, 185, 28);
            background-color: white;
            transition:ease-in;
            cursor: pointer;
            font-size: medium;
            font-weight: bold;
            margin: .7rem;
          }
          & button:hover{
           background-color: rgb(247, 185, 28);
           color: white;
         }
    }
    
}