@mixin display_flex($direction :row , $space :center,){
    display: flex;
    flex-direction: $direction ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: $space;
}

.recipeCard {
    @include display_flex() ;
    min-height: 90vh;
    width: 100%;
    background-color: white;
    & .recipe_card{
        @include display_flex(column,center );
        width: max-content;
        padding: 20px 20px  0 20px;
        border-radius: 15px;
        margin: 25px;
       /*  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
       box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
       /*  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
        color: rgb(85, 58, 8);
        font-family: 'Lobster', cursive;

        & .recipe_card_image{
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

        }
        & .view_recipe_button{
            padding:10px;
            display: flex;
            justify-content: flex-end;
            width: 100%;
            color: rgb(63, 63, 243);
            font-size:small ;
            & button{
                padding: 5px;
                font-weight: 500;
                border:none;
                border: 2px solid rgb(235, 185, 22);
                border-radius: 5px;
                background-color: rgb(255, 204, 36);
                color: white
            }
        }
        & .recipe_card_header{
          @include display_flex(row , space-between );
          align-items: center;
          & h3{
              margin: 10px;
          }
      }
    }
    & .veg_recipe_card{
        background-color: rgb(202, 245, 202);
    }
    & .non_veg_recipe_card{
        background-color: rgb(255, 219, 219);
    }
   
}